#top_left{
    width: 300px;
    float: left;
}
#top_right{
    margin-top: 15px;
    width: 400px;
    float: right;
    font-size:15px;
}
#top_right img{
    margin-bottom: -5px;
}
#top_right a{
    text-decoration: none;
    color:#0066FF ;
}
#top_right a:hover{
    color: #909;
}
.clear{
    clear: both;
}
#menu{
    background-color: #1C3F09;
    border-top: 5px solid #82B211;
    padding: 10px 0;
    text-align: center;
}
#menu a{
    text-decoration: none;
    margin: 0 8px;
    color: white;
    font-weight: bold;
    font-size: 14px;
}
#menu a:hover{
    color:#999;
}
#search{
    background-color: #B6B684;
    padding:5px 0;
    text-align: right;
}
#search input[type='image']{
    margin-right: 230px;
    margin-bottom: -4px;
}
#search input[type='text']{
    height: 20px;
    border: 1px solid #999999;
}
/**************** content ********************/
#content{
    border: 0px solid #999;
    background-color: #FCFDEF;
    padding: 30px;
    width: 800px;
    margin:0 auto 15px;
    font-size: 12px;
}
#content h1{
    font-size: 14px;
    color: #000000;
    margin-bottom: 20px;
    font-weight: bold;
    display: inline;
    text-align: left;
}
/*#message{*/
    /*width: 800px;*/
/*}*/
.name{
    float: left;
    margin-left: 90px;
    width: 80px;
    padding: 3px;
}
.text{
    /*margin-left: 10px;*/
    float: left;
    width: 50px;
    padding: 3px;
}
.radio{
    margin-left: 10px;
}
.textarea{
    font-size: 5px;
    float: left;
    width:350px;
    height: 75px;
    padding: 3px;

}
.explain{
    float: right;
    margin-right: 200px;
    width: 200px;
    padding: 3px;
}

.validate a{
    color:#0066FF ;
    text-decoration: none;
    font-size: 20px;
}
.validate a:hover{
    color: #909;
}

/**************** bottom ********************/
#bottom{
    background-color: #EFEEDC;
    height: 60px;
    padding: 10px 0;
}
#bottom_left{
    width: 300px;
    float: left;
    margin-left: 200px;
}
#bottom_right{
    width: 500px;
    float: left;
    line-height: 28px;
}
